@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  }
  
body {
    /*width:100vw;*/
    min-height:100vh;
    margin:0;
    background:white;
    font-family:Montserrat, "Open Sans", sans-serif;
}

h2:first-child,
.hh                                                                                                                                                                                   
{
    background-image: url("../img/top_left.png"), url("../img/top_right.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    background-color:#FFF;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #9a2388;
    border-style: solid none none;
    border-width: 6px medium medium 1px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    color: #9E7E4F !important;
    display: block;
    height: auto;
    margin: 0 auto;
    padding:0;
    width: 100%;
    min-height:6.5em;
}

/*---------------------------- */

.bg-light
{
background-color: #BC955C !important;

}

.panel-default>.panel-heading{
background: #EFE8D8!important;
color: #000!important; 
}

.panel-default
{
border-color: #DDC9A3!important;
}

.panel-title{
    font-family:Montserrat;
    color: #6F7271!important;
    font-weight:bold;
    font-size: 1.4em!important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #9F2241 !important;
    border-color:#691C32!important;
    font-family:Montserrat;
    font-weight:bold!important;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #98989A !important;
    border-color: #6f7271!important;
    font-family: Montserrat;
    font-weight: bold!important;
    color: #FFF!important;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
    background-color: #235B4E !important;
    border-color:#10312B!important;
    font-family:Montserrat;
    font-weight:bold!important;
    color:#FFF!important;
}

.input-group-addon
{
 background-color: #EFE8D8 !important;
 color:#6F7271!important;
}

.container
{
min-height:60vh;
}

#confirmacion
{
padding-top:3em;
}

#divcurp,
#resultado,
#noexiste,
#noexistee
{
margin-top:50px;
}

#txl
{
width:90%;
text-align: left;
margin: 20px 0;
font-weight: bold;
}
.str
{
background-color: #EFE8D8 !important;
line-height:25px;
}
/*---------------------------- */
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi)
{
   h2.hh img{
       width:40%;
       margin-top:-5%;
	   }
   .tit{
       font-size: 1em!important;
   }
}



@media screen and (min-device-width:300px) and (max-device-width:480px){
h2:first-child
{
   background-image:none;
}}

.container-cx
{
    flex-direction:column !important;
}
.box1{
    flex:1;
    width:auto;
}
#form1[action="./index.php"] input[type=text],
#form1[action="./index.php"] input[type=password]{
    width: 70%;
    margin: 18px 0 0 0;
    padding:5px 20px 5px 35px;
}
#form1 input[type="submit"] {
    font-size: 1.2em;
}
}


@media screen and (max-width:760px){
h2:first-child
{
    background-image:none;
}
}

.navvbar {
    background: #BC955C;
    min-height: 35px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: solid 5px #9E7E4F;
}

.navvbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.tit                                                                                      
    {
    color:#FFF;
    text-shadow:-1px -1px 0 #000;
    font-size:1.2em;
    }

.dropdownav {
    float: right;
    overflow: hidden;
    margin-right:20px;
    background-color:#143A33;
}

.dropdownav .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 10px 15px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdownav:hover .dropbtn, .dropbtn:focus {
    background-color: #31725F;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);
    z-index: 1;
    right:0;
    margin-top:5px;
    margin-right:20px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #31725F;
}

hr 
{
    /*background-color:#039;*/
    margin: 8px 0 15px 0;	
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0));
}
hr[color="PAPAYAWHIP"]
{
    display:none;
}

.txt_brown {
    color: brown;
}
